html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




.wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
header{
  background-color: #f9f9fb;
}
#logo{
  background: url(images/logo.png) no-repeat;
  height: 147px;
  width: 146px;
  float: left;
  position: absolute;
  top: 0;
  left: 10%;
}
header nav{
  margin-top: 20px;
  margin-left: 35%;
  position: absolute;
  top: 0;
  right: 15%;
  font-size: 20px;
}
header:after{
  content: "";
  display: block;
  clear: both;
}
header nav a{
  color: black;
  text-decoration: none;
  font-family: fantasy;
  display: inline-block;
  padding-top: 5px;
  margin-right: 10px;
  border-top: 4px solid transparent;
}
header nav ul li:hover{
  border-top: 4px solid #ff6033;
}
header nav h2{
  height: 0;
  text-indent: -10000px;
}
header nav li{
  float: left;
  margin-left: 50px;
  margin-top: 45px;
}
#background img{
  width: 100%;

}
#background{
  max-height: 100%;
  position: relative;
  overflow: hidden;
}
.bacground-text{
  position: absolute;
  top: 25%;
  width: 100%;
  right: 14%;
}
.background-title{
  font-size: 60px;
  font-weight: bold;
}
#background p{
  margin-top: 10px;
  line-height: 23px;
  font-weight: bold;
}
.btn a{
  background: rgba(246,246,246,1);
  background: -moz-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(255,96,51,1) 1%, rgba(255,96,51,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,246,1)), color-stop(1%, rgba(255,96,51,1)), color-stop(100%, rgba(255,96,51,1)));
  background: -webkit-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(255,96,51,1) 1%, rgba(255,96,51,1) 100%);
  background: -o-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(255,96,51,1) 1%, rgba(255,96,51,1) 100%);
  background: -ms-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(255,96,51,1) 1%, rgba(255,96,51,1) 100%);
  background: linear-gradient(to right, rgba(246,246,246,1) 0%, rgba(255,96,51,1) 1%, rgba(255,96,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ff6033', GradientType=1 );
  color: white;
  display: block;
  width: 160px;
  font-size: 18px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
  margin-top: 10px;
  margin-left: -2,5px;
}
#background2{
  max-height: 100%;
  position: relative;
  overflow: hidden;
  color: white;
}
#background2 img{
  width: 100%;
}
.background-tittle2{
  position: absolute;
  top: 25%;
  left: 55%;
  width: 100%;
  padding-right: -100px;
  font-size: 100px;
  font-family: arial;
  font-weight: bold;
}
#background2 p{
  position: absolute;
  top: 37%;
  width: 100%;
  padding-top: 20px;
  left: 55%;
  font-size: 20px;
}
#background3 img{
  width: 100%;
}
#background3{
  max-height: 100%;
  position: relative;
  overflow: hidden;
  color: white;
}
.background-title3{
  position: absolute;
  top: 39%;
  left: 53%;
  width: 100%;
  padding-right: -100px;
  font-size: 110px;
  font-family: arial;
  font-weight: bold;
}
#partials{
  position: absolute;
  top: 25%;
  width: 400px;
  height: 100px;
  left: 20%;
  font-size: 20px;

}
#background4{
  background-color: #ffe92f;
  height: 1536px;
  width: 1500;
  position: relative;
}
.img3{
  float: left;
}
.peaches{
  padding-top: 1.5%;
  position: relative;
  left: 40%;
}
.blueberry{
 position: absolute;
 left: 61%;
 padding-top: 0.67%;
}
.berry{
  position: absolute;
  padding-top: 16.05%;
  left: 61%;
}
.yogurt{
  position: relative;
  left: 40%;
  padding-top: 30px;
}
.kaki{
  position: absolute;
  padding-top: 31.9%;
  left: 50.5%;
}
.background-title4{
  font-size: 100px;
  font-weight: bold;
  font-family: arial;
  padding-bottom: 20px;
  padding-top: 100px;
}
.background-text4{
  text-align: center;
}
.btn2 a{
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(85,133,162,1) 0%, rgba(85,133,162,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(0%, rgba(85,133,162,1)), color-stop(100%, rgba(85,133,162,1)));
  background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(85,133,162,1) 0%, rgba(85,133,162,1) 100%);
  background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(85,133,162,1) 0%, rgba(85,133,162,1) 100%);
  background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(85,133,162,1) 0%, rgba(85,133,162,1) 100%);
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(85,133,162,1) 0%, rgba(85,133,162,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#5585a2', GradientType=1 );
  color: white;
  display: block;
  width: 160px;
  font-size: 18px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
  top: 90%;
  left: 45%;
  position: absolute;
}
